{
	["component1"] = {
		order = 1,
		files = {
			[":data/lib"] = "/lib",
		},
		dependencies = {},
		name = "Component Name",
		description = "Component Description",
		authors = "Author",
		hidden = false,
		default = true
	},
	["component2"] = {
		order = 2,
		files = {
			[":data/bin"] = "/bin"
		},
		dependencies = {
			"component1"
		},
		name = "SubComponent Name",
		description = "SubComponent Description",
		authors = "Author",
		hidden = false,
		default = false
	}
}
